.container {
  max-width: 1240px;
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.media-list .photo {
  width: 100%;
  max-width: 120px;
  height: 120px;
  border-radius: 5px;
}
.width-70 {
    width: 70px;
}
.height-70 {
    min-height: 70px;
}
.radius-50 {
  border-radius:50%;
  -moz-border-radius: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}
body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23fcfdff' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23fafbff' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23f7f9ff' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23f5f7ff' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23f2f5ff' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23edf0ff' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23e7ebff' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23e2e6ff' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23dce1ff' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23d7dcff' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
.bg-1 {
  background-image: url(../img/bg-1.jpg);
}
.bg-2 {
  background-image: url(../img/bg-2.jpg);
}
.bg-3 {
  background-image: url(../img/bg-3.jpg);
}
.bg-4 {
  background: #6993ff url(../img/colored-bar.jpg) top center no-repeat;
  background-size:contain;
}
.bg-small {
  background-size: 100% 200px;
  background-repeat: no-repeat;
  background-position: center top;
}
.bg-medium {
  background-size: 100% 350px;
  background-repeat: no-repeat;
  background-position: center top;
}

.bg-full {
  background-size:auto;
}
.top-0 {
    top: 0!important;
}
.bottom-0 {
    bottom: 0!important;
}
.right-0 {
    right: 0!important;
}
.left-0 {
    left: 0!important;
}
.flex-row-fluid {
    -webkit-box-flex: 1;
    flex: 1 auto;
    -ms-flex: 1 0 0px;
    min-width: 0;
}
.opacity-03 {
    opacity: .03!important;
}
.opacity-1 {
    opacity: .1!important;
}
.card-img-top {
  padding: 50px 50px 0 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}
.card-img-top img {
  border:10px solid #b5b5c3;
}
.min-height-50 {
  min-height: 50px;
}
.breadcrumb {
  padding: 0;
}
.pt-015 {
  padding-top: 0.15rem !important;
}
.profile-image {
  border-radius: 20% 20% 60% 60%;
  margin-top:-40px;
  width:100%;
  background-color: #ffffff;
}
/*
.table thead th {
  border-bottom: 1px solid #ecf0f3;
}
.table th {
  border-top:none;
  padding: 0.75rem 0;
}
.table td {
  border-top:1px solid #ecf0f3;
  padding: 0.75rem 0;
}
*/
.table th {
  border-top:none;
}
.list-group-flush > .list-group-item {
  padding: 0.25rem 0;
  border:none;
}
.card-header {
  background-color: #fbfcff;
}
footer.light {
  color:#ffffff;
}
footer.light a, a.light {
  color:#e1e9ff;
}
footer.light a:hover, a.light:hover {
  color:#ffffff;
}
.list-unstyled .border-bottom
{
    border-color: #f7f7f7!important;
}

/*D*/


.pn-ProductNav_Wrapper {
  position: relative;
  padding: 0 22px;
  box-sizing: border-box;
}

.pn-ProductNav {
  /* Make this scrollable when needed */
  overflow-x: auto;
  /* We don't want vertical scrolling */
  overflow-y: hidden;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  /* We don't want internal inline elements to wrap */
  white-space: nowrap;
  /* If JS present, let's hide the default scrollbar */
  /* positioning context for advancers */
  position: relative;
}
.js .pn-ProductNav {
  /* Make an auto-hiding scroller for the 3 people using a IE */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* Remove the default scrollbar for WebKit implementations */
}
.js .pn-ProductNav::-webkit-scrollbar {
  display: none;
}

.pn-ProductNav_Contents {
  float: left;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  position: relative;
}

.pn-ProductNav_Contents-no-transition {
  -webkit-transition: none;
  transition: none;
}

.pn-ProductNav_Link {

  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center;
  min-height: 44px;
  border: 1px solid transparent;
  padding: 0 11px;
}


.pn-Advancer {
  /* Reset the button */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  /* Now style it as needed */
  position: absolute;
  top: 0;
  bottom: 0;
  /* Set the buttons invisible by default */
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
.pn-Advancer:focus {
  outline: 0;
}
.pn-Advancer:hover {
  cursor: pointer;
}

.pn-Advancer_Left {
  left: 0;
}
[data-overflowing="both"] ~ .pn-Advancer_Left, [data-overflowing="left"] ~ .pn-Advancer_Left {
  opacity: 1;
}

.pn-Advancer_Right {
  right: 0;
}
[data-overflowing="both"] ~ .pn-Advancer_Right, [data-overflowing="right"] ~ .pn-Advancer_Right {
  opacity: 1;
}

.pn-Advancer_Icon {
  width: 10px;
  height: 44px;
  fill: #fff;
}
/*
.pn-ProductNav_Indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100px;
  background-color: transparent;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: background-color .2s ease-in-out, -webkit-transform .2s ease-in-out;
  transition: background-color .2s ease-in-out, -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out, background-color .2s ease-in-out;
  transition: transform .2s ease-in-out, background-color .2s ease-in-out, -webkit-transform .2s ease-in-out;
}
*/
.smaller{font-size:.8rem}

.bootstrap-filestyle .btn-secondary{
  border-top: 1px solid #6993ff;
  border-right: 1px solid #6993ff;
  border-bottom: 1px solid #6993ff;
  border-left:0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
footer.bg{
  background-color: #dddddd;
}

.premium{
	border: 3px solid #6993ff!important;
}

.advanced{
	border: 3px solid #f1f1f1!important;
}

.iti { width: 100%; }

.js-link{cursor: pointer;}

.table > tbody > tr:first-child > td {
    border: none;
}

.captcha-code{
  border:1px solid #6993ff;
  border-radius: 0.25rem;
}

.form-group label{
  font-weight: 600;
}

.cursor-pointer{
  cursor:pointer;
}

@media (max-width: 575.98px) 
{
  .pagination {
    padding: 0.25rem 0.3rem;
    font-size: 0.5875rem;
  }

  .page-link {
    padding: 0.5rem 0.45rem;
    margin: 0 1px;
  }  
}